* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    color: white;

}

.main {
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: -200;
    /* background-color: red; */
}

.top {
    /* background-color: blue; */
    height: 85vh;
    width: 80vw;
    margin: auto;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    height: 80px;
}

nav h1 {
    font-size: 30px;
    color: #404145;
}

.firstclutch {
    display: flex;
    align-items: center;
    gap: 32px;
}

.firstclutch a {
    text-decoration: none;
    color: #404145;
}

.secondclutch {
    display: flex;
    align-items: center;
    gap: 24px;
}

.notification-div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.signin {
    padding: 8px 24px;
    border: 1px solid #404145;
    background-color: transparent;
    color: #404145;
    border-radius: 10px;

}

.signup {
    padding: 8px 24px;
    background-color: #155dfc;
    color: white;
    border-radius: 10px;
    border: 1px solid #155dfc;
}

.trusted {
    margin-top: 20vh;
    background-color: oklab(0.546 -0.030363 -0.243111 / 0.2);
    backdrop-filter: blur(8px);
    color: white;
    padding: 8px 16px;
    height: 42px;
    width: auto;
    display: inline-block;
    border: 1px solid #667590;
    border-radius: 20px;
    margin-bottom: 24px;
}

.hire h1 {
    font-size: 72px;
    color: white;
}

.freelancers h1 {
    color: #51a2ff;
}

.hire {
    margin-bottom: 24px;
}

.centeritems p {
    font-size: 20px;
    color: white;
    margin-bottom: 32px;
}

.centeritems {
    max-width: 672px;
}

.inputdiv {
    padding: 8px;
    margin-bottom: 24px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputdiv input {
    border: none;
    padding: 16px 24px;
    width: 80%;
    font-size: 18px;
    outline: none;
}

.inputdiv input::placeholder {
    opacity: 0.6;
}

.inputdiv img {
    height: 20px;
}

.inputdiv button {
    padding: 16px 32px;
    background-color: #155dfc;
    border: 1px solid #155dfc;
    /* border: none; */
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}
.main video {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -50;
    height: 80vh;
    width: 100%;
    margin-top: 100px;
}
.mouse {
    height: 40px;
    width: 24px;
    border: 2px solid white;
    padding: 8px;
    border-radius: 12px;
    bottom: 0px;
    margin: auto;
    position: relative;
    top: 11vh;
}

.innermouse {
    background-color: white;
    height: 10px;
    width: 4px;
    border-radius: 3px;
    animation-name: bounce;
    animation-duration: 0.55s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-3px);
    }
}
.companies{
    height: 15vh;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.companies div{
    font-size: 20px;
    color: #4a5565;
    margin-top: 24px;
    
}
.companies img{
    height: 50px;
}
.companies ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-decoration-style: none; */
    list-style-type: none;
    gap: 70px;
}
.companies li{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #99a1af;
    gap:15px;
    font-size: 18px;
}